.VerticalSectionAnalysis {
    margin: 10px;
}

#VerticalSectionAnalysis .panel-body .VerticalSectionAnalysis-charts {
    width: 650px;
    height: 370px;
    text-align: center;
    margin: 0px auto auto auto;
}
