<div class="panel panel-primary widget-terminalPanel <%= uniqClass %>">
    <div class="panel-heading">
        <button type="button" class="close"><span class="glyphicon glyphicon-remove"></span></button>
        <button type="button" class="tools fold"><span class="glyphicon glyphicon-chevron-up"></span></button>
        <label class="title">
			<%- title %>
		</label>
    </div>
    <div class="panel-body">
        <div class="loading" style="display: none;">
            <span class="glyphicon glyphicon-cloud cloud"></span>
            <span class="glyphicon glyphicon-arrow-down download"></span>
            <h4>加载模块中...</h4>
        </div>
        <div class="panel-content">
        </div>
    </div>
    <div class="panel-resize-y"></div>
</div>
