    .AcrossSectionAnalysis {
        margin: 10px;
       
    }
	
#AcrossSectionAnalysis .panel-body .AcrossSectionAnalysis-charts{
    width: 650px;
    height: 370px;
    text-align:center;
    margin:0px auto auto auto;
}