<div class="widgets-rightpanel no-user-select">
    <div class="widgets-rightpanel-footer">
        <div class="widgets-rightpanel-footer-foldable">
            <span class="widgets-rightpanel-title widgets-rightpanel-small_hidden">照片查询</span>
            <image class="widgets-rightpanel-footer-foldable-icon" src="<%= media.foldImageURL %>" title="展开或折叠面板" data-isFold=false />
             <image class="widgets-rightpanel-footer-close-icon" src="<%= media.closeImageURL %>" title="展开或折叠面板" data-isFold=false />
        </div>
    </div>
    <div class="widgets-rightpanel-sidebar">
        <div class="widgets-rightpanel-accordion accordion">
          
        </div>
        
    </div>
</div>
