.WorkSheetDelivery {
    textarea {
        resize: none;
        width: 290px;
        height: 80px;
        border: none
    }
    .WorkSheetDelivery-content {
        display: block;
        border: 1px solid #ddd;
        ;
    }
    .WorkSheetDelivery-content {
        margin-bottom: 10px;
    }
    button.clear {
        margin-bottom: 10px;
    }
    // button.save {
    //     background-color: orange;
    //     border-color: orange;
    //     margin-bottom: 10px;
    // }
}
