<div class="wideget-measure-tool">
    <fieldset>
        <legend>
            选择量测工具
            <span class="glyphicon glyphicon-question-sign" title="选择不同的量测工具进行测量。"></span>
        </legend>
        <div class="foldable measureImgContainer">
            <div class="col-xs-4 no-padding measureTool" title="开启后，单击鼠标左键放置控制点，双击鼠标左键完成测量。" data-type="length">
                <img id="measureLength " class="measureImg " src="<%=lengthPngPath %>" alt="距离测量"> 距离测量
            </div>
            <div class="col-xs-4 no-padding measureTool" title="开启后，单击鼠标左键放置控制点，双击鼠标左键完成测量。" data-type="area">
                <img id="measureArea" class="measureImg" src="<%= areaPngPath %>" alt="面积测量"> 面积测量
            </div>
            <div class="col-xs-4 no-padding measureTool" title="开启后，单击鼠标左键放置控制点，双击鼠标左键完成测量。" data-type="angle">
                <img id="measureAngle" class="measureImg" src="<%= anglePngPath %>" alt="角度测量"> 角度测量
            </div>
        </div>
    </fieldset>
</div>
