.widget-planregion {
    height: 100%;
    .go{
        width: 200px;
    }
    .planregion_toolbar {
        height: 30px;
        .form-group{
            float: left;
            margin: 4px 0px 4px 4px;
            input{
                margin: 8px 0 0;
            }
        }
    }
    .planregion_content {
        width: 100%;
        height: calc(100% - 70px);
        margin: 4px;
        table {
            table-layout: fixed;            
            margin-bottom: 5px;
            tbody {
                border-top: 1px solid #ddd;
            }
            td {
                padding: 3px !important;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                a:hover {
                    cursor: pointer
                }
            }
            th{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            tr.active {
                color: #FFF;
                td {
                    background-color: #337ab7 !important;
                }
                a {
                    color: #FFF;
                }
                a:hover {
                    color: #eee;
                }
            }
            .goto {
                height: 26px;
            }
        }
    }
    .halfpaneltable {
        overflow-y: auto;
    }
    .planregion_pagecontrol {
        position: absolute;
        bottom: 0px;
        width: 100%;
        margin-left: 5px;
        background-color: white;
    }
    .toolbar2 {
        display: inline-block;
        width: 100%;
        margin-top: 6px;
        margin-bottom: 9px;
        margin: 4px;
    }
    .point_add {
        float: left;
        width: 70%;
        height: 100%;
        margin: 4px;
        table {
            margin-bottom: 10px;
        }
    }
    .point_add_info {
        float: left;
        width: 25%;
        margin: 4px;
        height: 250px;
        overflow-y: scroll;
    }
    .path_add {
        float: left;
        width: 70%;
        height: 100%;
        margin: 4px;
        table {
            margin-bottom: 10px;
        }
    }
    .path_add_info {
        float: left;
        width: 25%;
        margin: 4px;
        height: 250px;
        overflow-y: scroll;
    }
    .regionname,
    .address,
    .notes {
        width: 85px;
    }
    .checkcenter {
        text-align: center;
    } 
    .minwidth{
        width: 150px;
        height: 30px;
    }   
    .input-sm{
        padding: 4px 4px;
    }
    .dynamic_pagesize{
        border-radius: 3px;
    }
}

