<div class="panel panel-success widget-detailpanel <%= baseClass %>" id="<%= id %>" data-closed="false">
    <div class="detailpanel-heading">

        <div class="title">
            <%- title %>
        </div>
        <div class="inline-container pull-right panelclose">
            <img class="pull-right closehalfpanel" src="./widgets/Popup/images/close.png"></img>
            <!-- <span class="glyphicon glyphicon-remove-circle closehalfpanel" aria-hidden="true"></span> -->
            <img class="pull-right fullhalfpanel" src="./widgets/HalfPanel/images/zoomout.png"></img>
        </div>
    </div>
    <div class="detailpanel-body">
        <%= html %>
    </div>
</div>
