<div class="widget-loading">
	<div class="mask">
		<!--<div class="loading-logo">
			<img src="<%= logo %>" alt="<%= title %>">
		</div>
		<div class="title">
			<h1>
				<%= title %>
			</h1>
		</div>-->
		<div class="progressContainer">
			<div class="prompt">
				<span>检查浏览器</span>
			</div>
			<div class="progress">
				<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" data-count="0" style="width: 0%">
					0%
				</div>
			</div>
		</div>
	</div>
</div>