.widget-dashboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
}

.widget-dashboard_top-left-chart {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(40% - 17px);
    height: calc(33% - 13px);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.widget-dashboard_center-left-chart {
    position: absolute;
    top: calc(33% + 7px);
    left: 10px;
    width: calc(40% - 17px);
    height: calc(33% - 13px);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    .widget-dashboard_center-left-chart-pie {
        height: 100%;
        width: calc(65%);
        display: inline-block;
    }
}

.widget-dashboard_center-left-chart-info {
    position: absolute;
    top: calc(52% + 0px);
    left: 50px;
    .line {
        padding: 4px 0px 4px 0px;
    }
}

.widget-dashboard_bottom {
    position: absolute;
    top: calc(66% + 4px);
    right: 10px;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(34% - 14px);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.widget-dashboard_bottom-left {
    position: relative;
    width: calc(33%);
    height: 100%;
    background-color: #a9f5b8;
    float: left;
    .widget-dashboard_bottom-left-chart {
        height: 100%;
        width: calc(45%);
        display: inline-block;
    }
}

.widget-dashboard_bottom-center {
    position: relative;
    display: inline-block;
    width: calc(33%);
    height: 100%;
    left: calc(0.5%);
    background-color: #7ddbff;
    .widget-dashboard_bottom-center-chart {
        height: 100%;
        width: calc(45%);
        display: inline-block;
    }
}

.widget-dashboard_bottom-right {
    position: relative;
    width: calc(33%);
    height: 100%;
    background-color: #fdd2a8;
    float: right;
    .widget-dashboard_bottom-right-chart {
        height: 100%;
        width: calc(45%);
        display: inline-block;
    }
}

.widget-dashboard_top-right-map {
    position: absolute;
    top: 10px;
    right: 10px;
    height: calc(66% - 16px);
    width: calc(60% - 13px);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.widget-dashboard_map_title {
    position: absolute;
    z-index: 1;
    height: 30px;
    font-size: 18px;
    color: #333333;
    font-weight: 900;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    span {
        margin: 4px;
        vertical-align: middle;
    }
}

.widget-dashboard_home_button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    cursor: pointer;
    color: #686868;
    z-index: 1;
    &:hover {
        cursor: hand;
        background-color: #eee!important;
    }
    &:active {
        background-color: #ddd;
    }
    span {
        width: 16px;
        height: 16px;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

g {
    display: block !important;
}

.widget-dashboard .common-panel {
    cursor: auto;
    .common-panel-title {
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
        color: #333;
        padding-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        border-bottom: 1px solid #eee;
        margin-top: -1px;
        margin-bottom: 0px;
        padding-top: 2px;
        padding-bottom: 5px;
    }
    .panel-1 {
        color: #555;
        font-size: 13px;
        position: relative;
        overflow: hidden;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 0px;
        float: left;
        padding-top: 0px;
        padding-left: 0px;
        .list-title {
            font-weight: 600;
        }
        .panel-list {
            line-height: 28px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .clearfix:after,
    .clearfix:before {
        clear: both;
        display: table;
        content: "";
    }
}

.esriPopup .actionsPane {
    padding: 0px !important;
}

.info {
    width: calc(55%);
    height: 100%;
    float: left;
    padding: 12px;
    // color: #ffffff;
    overflow: hidden;
    .title {
        // margin-bottom: calc(25%);
        font-size: 18px;
    }
    .content {
        position: absolute;
        top: calc(50% + 12px);
        transform: translate(0, -50%);
        width: calc(55% - 22px);
        max-height: calc(100% - 64px);
        overflow: hidden;
        .line {
            margin-left: 20px;
            padding: 4px 0px 4px 0px;
            .xunjian-value {
                color: #0070c0;
                font-size: 16px;
                padding: 2px;
            }
            .shebei-value {
                color: #c55a11;
                font-size: 16px;
                padding: 2px;
            }
            .gongdi-value {
                color: #007434;
                font-size: 16px;
                padding: 2px;
            }
        }
    }
}

.pie-left-info {
    width: calc(35%);
    height: 100%;
    float: left;
    padding: 12px;
    overflow: hidden;
    .title {
        // margin-bottom: calc(25%);
        font-size: 18px;
    }
    .content {
        position: absolute;
        top: calc(50% + 12px);
        transform: translate(0, -50%);
        max-height: calc(100% - 64px);
        overflow: hidden;
        .line {
            margin-left: 20px;
            padding: 4px 0px 4px 0px;
            .yinhuan-value {
                color: #ff1801;
                font-size: 16px;
                padding: 2px;
            }
        }
    }
}

.widget-dashboard-chart-title {
    position: absolute;
    z-index: 1;
    height: 30px;
    font-size: 18px;
    color: #333333;
    font-weight: 900;
    width: 100%;
    text-align: center;
    span {
        margin: 4px;
        vertical-align: middle;
    }
}
