<div class="widget-halfpanel panel  <%= uniqClass %>">
    <div class="head halfpanel-head">

        <div class="resize-bar">
            <div class="bar" title="按住并拖动面板"></div>
        </div>
        <div class="title">
            <%- title %>
        </div>
        <div class="inline-container pull-right toolhalfpanel ">
            <!--<span class="glyphicon glyphicon-chevron-up uphalfpanel" aria-hidden="true"></span>
               <span class="glyphicon glyphicon-chevron-down downhalfpanel" aria-hidden="true"></span>-->
            <!-- <span class="glyphicon glyphicon-remove-circle closehalfpanel" aria-hidden="true"></span> -->
            <img class="pull-right closehalfpanel" src="./widgets/Popup/images/close.png"></img>
            <img class="pull-right fullhalfpanel" src="./widgets/HalfPanel/images/zoomout.png"></img>
        </div>
    </div>
    <div class="halfpanel-content">
    </div>
</div>
