<div class="panel panel-success widget-blankpanel <%= baseClass %>" id="<%= id %>" data-closed="false" style="width:<%= width %>px;height:<%= height %>px">
	<div class="panel-heading" style="margin-top:">
		<button type="button" class="close"><span class="glyphicon glyphicon-remove"></span></button>
		<button type="button" class="tools fold"><span class="glyphicon glyphicon-chevron-up"></span></button>
		<label class="title">
			<%- title %>
		</label>
	</div>
	<div class="panel-body">
		<%= html %>
	</div>
</div>