.widget-halfpanel {
    background-color: #FFF;
    position: absolute;
    bottom: 0px;
    top: 55%;
    left: -1px; // right: -1px;
    // height: 100%;
    width: 100%;
    overflow: hidden; //overflow: scroll;
    padding: 0;
    z-index: 1; // border-color: #1d7edf;
    border-color: #008cee;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin-bottom: 0;
    /* 头部 */
    .head {
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // // margin-top: 4px;
        // margin-top: 0px;
        height: 40px;
        background-color: #337ab7;
    }
    .resize-bar {
        height: 3px;
        width: 100%;
        background: #CCC;
        margin-bottom: 4px;
        cursor: s-resize;
        transition: background-color 200ms;
        &:hover {
            background-color: #999;
        }
    }
    .title {
        display: inline-block; // height: 40px;
        margin-left: 20px;
        margin-top: 5px;
        font-size: 14px;
        color: #fff; // background-color: #337ab7;
        // margin-left: 5px;
        // margin-top: 5px;
        // margin-bottom: 0px;
        // border-radius: 5px 5px 0px 0px;
        // font-size: 18px;
        // color: #000;
        // //color: #337ab7;
        // border: 1px solid #004c99;
        // border-bottom: none;
        // background-color: #337ab7;
        // // background-color:#E3EEFF;
        // padding: 3px 10px;
        // margin-right: 2px;
    }
    .toolhalfpanel {
        color: #fff; // display: inline-block;
        // float: right
        margin-top: 5px;
        margin-right: 10px;
        .closehalfpanel {
            width: 20px;
        }
        .fullhalfpanel {
            width: 18px;
            height: 17px;
            margin-right: 10px;
            margin-top: 2px;
        }
    }
    .toolhalfpanel:hover {
        cursor: pointer;
    }
    /* 内容部分 */
    .halfpanel-content {
        position: absolute;
        height: calc(100% - 40px)!important;
        width: 100%;
    }
}

#panelContainer.focus>.panel:not(:last-child) {
    border: 1px solid #ddd
}

#panelContainer.focus>.panel:not(:last-child) .panel-resize-y {
    border: 1px solid #ddd
}

#panelContainer.focus>.panel:not(:last-child) .halfpanel-head {
    background-color: #ddd!important;
    border-color: #ddd!important;
    .title {
        color: black;
    }
}
