<div class="widget-planequipmentledger">    
    <div id="toolbar" class="btn-group btn-group-sm toolbar">
        <div class="form-inline">
            <div class="form-group company_serch" style="display: none;">
                    <label for="company">管理公司</label>
                    <select class="input-sm form-control company minwidth" ></select>                
                </div>
            <div class="form-group">
                <label for="trouble_typeid">设备类型</label>
                <select class="input-sm  plantype minwidth" id="plantype">
                </select>
            </div>              
            <button type="button" class="btn btn-default btn-primary btn-search"> 
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询
            </button>
            <button type="button" class="btn btn-default save2csv btn_export btn-export">
                <span class="glyphicon glyphicon-export"></span>导出
            </button>
        </div>
    </div>
   
    <div class="halfpaneltable hiddedangerinfo">
        <table class="table table-bordered  table-striped">
                <tbody class="addequipmentledger-title">
                    <tr>
                        <th title="设备类型">设备类型</th>
                        <th title="唯一编号">唯一编号</th>
                        <th title="设备编码">设备编码</th>
                        <th title="所在片区">所在片区</th> 
                        <th title="检查时间">检查时间</th>                       
                        <th title="检查详情">检查详情</th>                        
                    </tr>
                </tbody>
                <tbody class="addequipmentledger">
                
                </tbody>
        </table>
    </div>

    <div class="planequipmentledger-pagecontrol">
            <label class="pagecontrol">
                总共-条
            </label>
            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="dynamic_pagesize">
                
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select><label> 条</label>
            <div class="pull-right input-group btn-toolbar " role="toolbar">            
                    <div class=" btn-group btn-group-sm">
                        <button type="button" class="btn btn-default pre"><span class="glyphicon glyphicon-step-backward"></span></button>
                        <button type="button" class="btn btn-primary disabled content">第-页共-页</button>
                        <button type="button" class="btn btn-default next">	<span class="glyphicon glyphicon-step-forward"></span></button>
                    </div>
                    <div class="input-group input-group-sm go">
                        <input type="number" min=1 value=1 class="form-control currpage">
                        <span class="input-group-btn "> <button class="btn btn-default pageturning" type="button">跳转</button>
                        </span>
                    </div>
            </div>
    </div>

    $$
     <div class="widget-devicerepair-list">        
        <div id="toolbar" class="btn-group btn-group-sm toolbar    pull-right  returntoolbar">
            <form class="form-inline">
                 <button type="button" class="btn btn-primary btn-return pull-right">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    返回
                </button>
            </form>
        </div>
        <div class="halfpaneltable hiddedangerinfo">
            <table class="table table-bordered  table-striped">
                <tbody>
                    <tr>                   
                        <th title="巡检人">巡检人</th>
                        <th title="回报时间">回报时间</th>
                        <th title="设备捡漏">设备捡漏</th>
                        <th title="运行压力">运行压力</th>
                        <th title="关闭压力">关闭压力</th>
                        <th title="切断压力">切断压力</th>
                        <th title="开关灵活度">开关灵活度</th>                        
                        <th title="备注">备注</th>
                        <th title="照片">照片</th>                        
                    </tr>
                </tbody>
                <tbody class="adddevicerepair">                
                </tbody>
            </table>
        </div>        
    $$    
    <div class="widget-hiddendangersearch-pictureshow">     


        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators hiddendanger_photo_tit">
                <% photoData.forEach(function(value,i) { %>
                        <% if (i==0) { %>
                            <li data-target="#myCarousel" data-slide-to="0" class="active">

                        <% } else { %>
                            <li data-target="#myCarousel" data-slide-to="<%= i %>"></li>
                        <% } %>
                    
                <% }); %>
            </ol>   


       
            <div class="carousel-inner  hiddendanger_photo_con">
                 <% photoData.forEach(function(value,i) { %>
                        <% if (i==0) { %>
                            <div class="item active">
                                <img src="<%= value.src %>" alt="First slide">
                                <div class="carousel-caption"><%= value.alt %></div>
                            </div>
                         <% } else { %>
                            <div class="item">
                                <img src="<%= value.src %>" alt="<%= value %> slide">
                                <div class="carousel-caption"><%= value.alt %></div>
                            </div>
                        <% } %>
                 <% }); %>
            </div>


        
            <a class="carousel-control left" href="#myCarousel" 
            data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" 
            data-slide="next">&rsaquo;</a>
        </div> 
     
    </div>
    $$
    <div class="equipmentInfo-template" style="font-size: 14px;">
        <p><span>设备编码：${code}</span></p>
        <p><span>设备类型：${device_type_name}</span></P>
        <p><span>所在片区：${regionname}</span></p> 
        <p><span>检查时间：${last_time}</span></p>     
    </div>
    $$
    <div class="widget-hiddendangersearch-pictureshow">     
        <ul class="piclist">
        </ul>
    </div>
    $$
    </div>
   ||
     <div id="toolbar" class="btn-group btn-group-sm toolbar    pull-right returntoolbar">
            <form class="form-inline">
                 <button type="button" class="btn btn-primary btn-return pull-right">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    返回
                </button>
            </form>
    </div>
    <div class="halfpaneltable hiddedangerinfo">
        <table class="table table-bordered  table-striped">
            <tbody>
                <tr>                   
                    <th title="开关灵活度">开关灵活度</th>
                    <th title="设备捡漏">设备捡漏</th>
                            <th title="巡检周期">巡检周期</th>
                                <th title="上报人">上报人</th>
                                    <th title="上报时间">上报时间</th>
                                        
                    <th title="备注">备注</th>
                    <th title="照片">照片</th>                        
                </tr>
            </tbody>
            <tbody class="adddevicerepair">                
            </tbody>
        </table>
    </div>  

      ||
     <div id="toolbar" class="btn-group btn-group-sm toolbar   pull-right">
            <form class="form-inline">
                 <button type="button" class="btn btn-default  btn-primary btn-return ">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    返回
                </button>
            </form>
    </div>
    <div class="halfpaneltable hiddedangerinfo">
        <table class="table table-bordered  table-striped">
            <tbody>
                <tr>   
                       <th title="主路运行压力">主路运行压力</th>
                    <th title="副路关闭压力">副路关闭压力</th>
                       <th title="主路关闭压力">主路关闭压力</th>
                    <th title="主路切断压力">主路切断压力</th>
                   
                    <th title="设备运行是否正常">设备运行是否正常</th>
                    <!-- <th title="开关灵活度">开关灵活度</th>
                    <th title="设备捡漏">设备捡漏</th> -->
                            <th title="巡检周期">巡检周期</th>
                                <th title="上报人">上报人</th>
                                    <th title="上报时间">上报时间</th>
                                        
                    <th title="备注">备注</th>
                    <th title="照片">照片</th>                        
                </tr>
            </tbody>
            <tbody class="adddevicerepair">                
            </tbody>
        </table>
    </div>  

      ||

    <div class="zpxx">
       
    </div>  