.widget-connected-analysis {
    border: px solid #000;
    .view-map {
        cursor: pointer;
    }
    .applystop {
        font-size: 14px;
        margin-bottom: 5px;
        cursor: pointer;
    }
}
